---
const { title, sub, href, rel, target } = Astro.props
---

<a
  href={href}
  target={target}
  rel={rel}
  class="block rounded-lg bg-zinc-50 hover:bg-zinc-100 dark:bg-black dark:hover:bg-zinc-800 p-4 shadow hover:shadow-md transition"
>
  <h2 class="font-bold text-xl">{title}</h2>
  {
    sub && (
      <div class="text-sm font-bold text-zinc-600 dark:text-zinc-400 my-1">
        {sub}
      </div>
    )
  }
  <div class="my-1">
    <slot />
  </div>
</a>
